body {
    display: flex;
    width: 100%;
    height: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: linear-gradient(118deg, #B3CFFA -8.94%, #ECA7CC 51.54%, #82AEF0 103.2%);
    font-family: "Arial", "Poppins", "SF Pro Display";
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 725px;
    height: 750px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    background: var(--Color, #FFF);
    .cont2 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        .Logo-cont {
            display: flex;
            height: 50px;
            padding: 0px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            color: #0C0C0C;
            text-align: center;
            font-family: Post No Bills Jaffna Medium;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 6.24px;
        }
        .Reg-cont {
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-2-xs, 2px);
            align-self: stretch;
            .Text-Reg-cont {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: var(--spacing-2-xs, 2px);
                color: #333;
                font-family: SF Pro Display;
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .Vhod-cont {
            width: 100%;
            height: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex: 1 0 0;
            align-self: stretch;
            .Login-cont {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                align-self: stretch;
                .Login-cont-text {
                    display: flex;
                    width: 500px;
                    height: 40px;
                    align-items: center;
                    color: #434343;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .Login-text-Pole {
                    width: 500px;
                    height: 30px;
                    .Login-text-btn {
                        border-radius: 5px;
                        width: 100%;
                        height: 35px;
                        font-size: 15px;
                        background-color: rgb(236, 236, 236);
                        border: 1px solid rgba(102, 102, 102, 0.35);
                        padding: 5px;
                    }
                }
            }
            .Email-cont {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                align-self: stretch;
                .Email-cont-text {
                    display: flex;
                    width: 500px;
                    height: 40px;
                    align-items: center;
                    color: #434343;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .Email-text-Pole {
                    width: 500px;
                    height: 30px;
                    .Email-text-btn {
                        border-radius: 5px;
                        width: 100%;
                        height: 35px;
                        font-size: 15px;
                        background-color: rgb(236, 236, 236);
                        border: 1px solid rgba(102, 102, 102, 0.35);
                        padding: 5px;
                    }
                }
            }
            .Passworld-cont {
                display: flex;
                width: 500px;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
                ////////
                .Passworld-text-Pole {
                    width: 500px;
                    margin: 0 auto;
                    padding: 0px;
                }
                #vekodnaya-prokhodna {
                    width: 500px;
                    padding: 6px 0;
                    height: 35px;
                    line-height: 40px;
                    text-indent: 5px;
                    font-family: Poppins;
                    margin: 0 0 12px 0;
                    border: 1px solid rgba(102, 102, 102, 0.35);
                    background-color: rgb(236, 236, 236);
                    font-size: 15px;
                    border-radius: 5px;
                    font-style: normal;
                }
                .Passworld-cont-text {
                    display: flex;
                    padding-right: 0px;
                    align-items: flex-start;
                    align-self: stretch;
                    display: flex;
                    width: 100%;
                    height: 40px;
                    padding: 0px 616px 3px 0px;
                    align-items: center;
                    color: #434343;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    .Eyes {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 100%;
                        height: 27px;
                        gap: 15px;
                        font-size: 17px;
                    }
                }
                .Passworld-text-btn {
                    width: 100%;
                    height: 35px;
                    font-size: 15px;
                    background-color: rgb(236, 236, 236);
                    border: 1px solid rgba(102, 102, 102, 0.35);
                    padding: 5px;
                    border-radius: 5px;
                }
            }
            .blok-prim {
                display: flex;
                align-items: flex-start;
                gap: 0px;
                .blok-prim-1 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    color: rgba(102, 102, 102, 0.60);
                    font-family: SF Pro Display;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .blok-prim-2 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    color: rgba(102, 102, 102, 0.60);
                    font-family: SF Pro Display;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .blok-prim-3 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    color: rgba(102, 102, 102, 0.60);
                    font-family: SF Pro Display;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .Podtver-cont {
                display: flex;
                width: 500px;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
                .Podtver-text-Pole {
                    width: 500px;
                    margin: 0 auto;
                    padding: 0px;
                }
                #vekodnaya-prokhodna {
                    width: 500px;
                    padding: 6px 0;
                    height: 35px;
                    line-height: 40px;
                    text-indent: 5px;
                    font-family: Poppins;
                    margin: 0 0 12px 0;
                    border: 1px solid rgba(102, 102, 102, 0.35);
                    background-color: rgb(236, 236, 236);
                    font-size: 15px;
                    border-radius: 5px;
                    font-style: normal;
                }
                .Podtver-cont-text {
                    display: flex;
                    padding-right: 0px;
                    align-items: flex-start;
                    align-self: stretch;
                    display: flex;
                    width: 100%;
                    height: 40px;
                    padding: 0px 616px 3px 0px;
                    align-items: center;
                    color: #434343;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    .Eyes {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 100%;
                        height: 27px;
                        gap: 15px;
                        font-size: 17px;
                    }
                }
                .Podtver-text-btn {
                    width: 100%;
                    height: 35px;
                    font-size: 15px;
                    background-color: rgb(236, 236, 236);
                    border: 1px solid rgba(102, 102, 102, 0.35);
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
        .cont-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3px;
            .button1:before {
                background: #a271f0a6;
            }
            .button1:hover {
                background: #b776d1a6;
                border: 2px solid rgb(199, 131, 245);
            }
            .button1:active {
                border: 2px solid rgb(122, 89, 153);
                background: #7855a7;
                top: 2px;
            }
            .button1 {
                display: flex;
                width: 256px;
                height: 55px;
                padding: 15px 40.5px 16px 40.5px;
                justify-content: center;
                align-items: center;
                border-radius: 32px;
                background: #9a5db3a6;
                color: #ffffff;
                border: 2px solid rgb(185, 130, 216);
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
                font-family: 'Open Sans', sans-serif;
                font-family: 'Poppins', sans-serif;
                font-family: 'Roboto Slab', serif;
            }
            .Regist {
                text-align: center;
                color: #333;
                font-family: SF Pro Display;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration-line: underline;
            }
        }
    }
}